$font-stack: "Open Sans", sans-serif;
$font-stack-: "Cousine", monospace;
$color: white;
$no-size: 0px;
$one-fourth: 25px;
$whole: 100%;
$half: 50%;
$ronnie: flex;
$utrecht: center;
$God: absolute;
$familie-lid: relative;
$pillar: column;
$nada: 0;
$in-the-beninging-there-was: none;
$blokje: grid;
$uno: 1;
